.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
.bashvars
.DS_Store
Cvirginica_v300.fa
*.fastq.gz
*.fq.gz
*.deduplicated.bedGraph.gz.bismark.zero.cov
*.deduplicated.txt.gz
*.deduplicated.bedGraph.gz
*.deduplicated.bismark.cov.gz
*.CpG_report.txt.gz

data/bismark-methyl-extraction/*.cov.gz
data/bismark-methyl-extraction-parents/*.cov.gz

output/10-diff-methyl-DSS/*.rds
output/10-diff-methyl-DSS/*.tsv
output/10-diff-methyl-DSS/*.tsv.gz
output/10-diff-methyl-DSS_remsamples/*.rds
output/10-diff-methyl-DSS_remsamples/*.tsv
output/10-diff-methyl-DSS_remsamples/*.tsv.gz
output/10.1-diff-methyl-DSS-parents/*.rds
output/10.1-diff-methyl-DSS-parents/*.tsv
output/11-diff-methyl-MACAU/*.tsv
output/12-snp-calling-BS-Snper/*meth-info.tab
output/12-snp-calling-BS-Snper/SNP-candidates.txt
output/12-snp-calling-BS-Snper/per-sample/*.vcf
output/12-snp-calling-BS-Snper/per-sample/*.vcf.gz
output/12-snp-calling-BS-Snper/per-sample/*meth-info.tab